<%- include("include/left"); %>
<%- include("include/bottom"); %>
      <section id="right">
        <div id="write" class="contents">
          <form action="/register" method="POST">
            <div class="inputBox">
              <span>이름</span>
              <input type="text" name="subject" id="subject" />
            </div>
            <div class="inputBox">
              <span>내용</span>
              <textarea name="contents" id="contents" cols="30" rows="10"></textarea>
            </div>
            <button>send</button>
          </form>
        </div>
      </section>
    </main>
    <script>
      //       네이버 책 검색 -> 추가
      // 메인에 이번주 책
      // 날짜 지정 d-day
      // 지난 책 목록
      // 2022/2021탭 나누기

      // 로그인(?)
    </script>
  </body>
</html>
