<div id="mainBottom">
  <ul class="bookList">
    <% list.forEach((item,idx)=>{ %>
      <li>
        <div class="bookCover"><img src="<%= item.imgSrc %>" alt=""></div>
      </li>
      <% }) %>
  </ul>
</div>
</section>