<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DUSHUHUI</title>

    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/common.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=ZCOOL+QingKe+HuangYou&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="css/layout.css" />
    <script src="/js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <main id="main">
      <section id="left">
        <div id="mainTop">
          <h1 id="mainTitle"><a href="/">读书会</a></h1>
          <div class="menu">
            <span><a href="/">This Week</a></span>
            <span><a href="/review">Review</a></span>
            <span><a href="/search">Search</a></span>
            <!-- <span>Search</span> -->
          </div>
        </div>


